.DS_Store
.vscode
.idea

# npm
node_modules
npm-debug.log

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# env
.env

# tests
test-results
playwright-report
cucumber-report
**/.features-gen/**/*.spec.js

.nx
/update.sh